/*小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {
  .col, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5,
  .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12,
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6,
  .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
  .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6,
  .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    padding: 0 10px
  }

  #content .main {
    padding-top: 51px;
  }

  .sousuo {
    padding: 40px 0;
    margin-top: 0;
  }

  .sousuo-form {
    width: 100%;
    margin: 0 auto;
  }

  #input {
    outline: none;
    padding: 0 10px;
    height: 46px;
    line-height: 46px;
    border: 1px solid #ddd;
    border-left: none;
    display: block;
    padding-left: 90px;
  }

  #so-btn {
    width: 15%;
    float: right;
    height: 45px;
    background: #3385ff;
    color: #fff;
    border: none;
  }

  .two-list-con .link-box {
    width: 18.285%;
    float: left
  }

  .link-box {
    width: 12.5%;
    float: left
  }

  .item-tit>strong {
    padding: 5px 0 0 10px;
    margin-bottom: 10px;
  }

  .get-home {
    margin: 0;
    margin-top: 20px;
  }

  .footer {
    margin-top: 20px;
  }
}

/*中等屏幕（桌面显示器，大于等于 992px）*/
@media (min-width: 992px) {
  header {
    height: 60px;
    border-bottom: 0;
  }

  header .main {
    padding: 0;
  }

  header .logo {
    float: center;
    font-size: 20px;
    margin: 0;
    font-weight: 400;
    border: none;
    font-family: inherit;
  }

  header .logo a {
    display: block;
    line-height: 60px;
    color: #484848;
    font-weight: 400;
  }

  header .logo img {
    width: 36px;
    vertical-align: -10px;
  }

  #content .main {
    padding-top: 50px
  }

  .mainContent {
    padding: 0;
    max-width: 1200px;
    margin: 0 auto;
  }

  .linkList-item .col-xs-4 {
    padding: 0 2px;
  }

  .link-list-a {
    margin-bottom: 5px;
  }

  .sousuo-form {
    width: 70%;
    max-width: 680px;
    margin: 0 auto;
  }

  .footer {
    margin-top: 30px;
  }
}

/*大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200px) {
  #content .main {
    padding-top: 60px;
  }

  .mainContent {
    padding: 0;
    max-width: 1300px;
  }

  .sousuo {
    margin-top: 10px;
  }

  .sousuo-form {
    width: 60%;
    max-width: 700px;
  }

  .edit-category {
    position: absolute;
    left: 0;
    top: 0;
  }

  .main .banner {
    margin-top: 90px;
  }

  .shaow-edit-category {
    display: block
  }

  .item>.container-fluid {
    padding-top: 91px;
    margin-top: -65px;
  }
}

/*超大屏幕（大于等于 1700px） */
@media (min-width: 1700px) {
  .mainContent {
    max-width: 1500px;
  }

  .col-md-3 {
    width: 20%;
  }

  .imgDes-item .col-md-3 {
    width: 25%;
  }

  .article-box .widget {
    margin: 0 10px 30px 10px;
  }
}
